@tailwind base;
@tailwind components;
@tailwind utilities;

.statsValue {
	@apply text-primary text-2xl font-bold flex-grow flex items-center justify-center py-4;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	@apply focus-visible:outline-none;
}

svg,
button,
input,
select {
	@apply focus:outline-none focus-visible:outline-none;
}

body {
	@apply font-sans;
}

fieldset {
	@apply border rounded-default p-4;
}

legend {
	@apply font-medium;
}

table {
	@apply w-full text-left whitespace-nowrap font-light rounded-b-default;

	& thead th {
		@apply text-text font-medium pb-2 text-sm align-middle;
	}

	& tbody tr {
		@apply text-text even:bg-gray-100 odd:bg-white last:border-0;
	}

	& th,
	td {
		@apply p-4 leading-none [&:nth-child(2)]:text-left;
	}

	& th:not(:first-child.hidden) + th,
	td:not(:first-child.hidden) + td {
		@apply pl-0;
	}
}

/* react-calendar */
.react-calendar {
	@apply !min-w-[18rem] !border-0 !bg-white font-light;
}

.react-calendar__month-view__days {
	@apply cursor-not-allowed;
}

.react-calendar__month-view__days__day,
button.react-calendar__month-view__days__day--weekend {
	@apply cursor-default pointer-events-none !text-text/75;
}

/* estilizar dias, meses, anos e decadas com compromissos */
.react-calendar__tile--now {
	@apply border relative transition;

	&:hover {
		@apply border-primary;
	}

	&:after {
		@apply content-['.'] absolute w-full bottom-0 left-0;
	}
}

.hasAppointment,
.hasTask,
.react-calendar__month-view__days__day--weekend.hasAppointment,
.react-calendar__month-view__days__day--weekend.hasTask,
.react-calendar__century-view__decades__decade:not(:disabled),
.react-calendar__decade-view__years__year:not(:disabled),
.react-calendar__year-view__months__month:not(:disabled) {
	@apply !text-primary font-medium cursor-pointer pointer-events-auto;
}

.react-calendar__tile--active.react-calendar__month-view__days__day--weekend.hasAppointment,
.react-calendar__tile--active.react-calendar__month-view__days__day--weekend.hasTask {
	@apply !text-white;
}

/* icons and title  */
.react-calendar__navigation {
	@apply flex gap-4 !text-text justify-center;
}

.react-calendar__navigation__label {
	@apply w-32;
}

.react-calendar__navigation__arrow {
	@apply transition hover:text-primary disabled:opacity-0;
}

.react-calendar__month-view__weekdays {
	@apply mt-4 mb-2 text-center font-medium text-sm text-text;
}

.react-calendar__navigation button {
	@apply !min-w-min flex-grow-0;

	&:hover,
	&:focus {
		@apply !bg-transparent;
	}
}

.react-calendar__tile {
	@apply p-2 text-center rounded-default transition-all;
}

.react-calendar__month-view__days__day--weekend {
	@apply !text-gray-500;
}

/* days of the week */
.react-calendar__month-view__weekdays__weekday abbr {
	@apply text-text no-underline;
}

.react-calendar__tile--active,
.react-calendar__tile:enabled:hover {
	@apply !bg-primary !text-white !font-bold;
}

